@mixin head-mixin($color-head: $headline, $hr-color: $base-color ) {
    text-align: center;
    h2 {
        font-size: 48px;
        font-family: $third-family;
        color: $color-head;
        margin: 0 0 15px 0px;
    }
    hr {
        width: 164px;
        height: 2px;
        background: $hr-color;
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .hr--center {
        height: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
@mixin flex-center {
    display: flex;
            justify-content: center;
            align-items: center;
}