.featuredproducts__head {
    @include head-mixin; 
    margin-top: 93px;
} 
.featuredproducts__head--secect {
    display: flex;
    justify-content: center;
    margin: 80px 0 104px 0;
    flex-wrap: wrap;
    div {
        border: 1px solid #959595;
        border-radius: 2px;
        margin: 0 10px 10px 0;
        padding: 5px 7px 5px 7px;
        &:hover {  
            background-color: $base-color;
            border: 1px solid $base-color;
            span {
                color: white;
            }
        &::after {
            content: "8";
            color: $base-color;
            border: 1px solid #959595;
            border-radius: 50%;
            position: relative;
            bottom: 15px;
            left: 3px;
            background-color: white;    
            }   
        }
        span {
            font-size: 16px;
            font-family: $second-family;
            color: #959595;      
        } 
    }
}
.featuredproducts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 66px;
}
.featuredproducts__product { 
    .featuredproducts__product--img1, .featuredproducts__product--img2, 
    .featuredproducts__product--img3, .featuredproducts__product--img4,
    .featuredproducts__product--img5, .featuredproducts__product--img6, 
    .featuredproducts__product--img7, .featuredproducts__product--img8,  {
        background-size: cover;
        height: 322px; 
        width: 255px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px 30px 15px; 
        
        &:hover {
            .description--name {
                background-color: $base-color;
            }
            .description--cost {
                background-color: lighten($base-color, 30%);
            }
            .featuredproducts__product--hover {
                display: flex;
            }
            .featuredproducts__product--NEWSALE {
                display: none;
            } 
        }
    }   
}
.featuredproducts__product--NEWSALE {
    display: flex;
    justify-content: space-between;
    div {
        height: 25px;
        width: 70px;
        border: 1px solid $backgraund-text-product;
        color: $backgraund-text-product;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 16px;
        font-family: $second-family;
        margin: 10px; 
    }
}
.featuredproducts__product--hover {
    height: 88%;
    width: 100%;
    background-color: rgba(19, 18, 18, 0.49);
    outline: solid 10px rgba(253, 253, 253, 0.7);
    outline-offset: -10px;
    display: none;
    justify-content: center;
    align-items: center;
    a {
        background: none;
        height: 100%;
        width: 100%;
        border: none;
    }
    a:hover {
        background: $base-color;
    }
    .featuredproducts__product--select {
        i {
            color: white;
            font-size: 28px;
        }
        span {
            color: white;
            font-family: $base-family;
            font-size: 15px;
            margin-left: 18px;
        }
    } 
    .featuredproducts__product--select1 {
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 49px;
            width: 49px;
            margin: 0 7px 0 0px;
            border: 1px solid white;
        }
    } 
    .featuredproducts__product--select2 {
        background-color: $backgraund-text-product;
        border: 1px solid white;
        height: 49px;
        width: 165px;
        margin-top: 6px;
        a {
            display: flex; 
            justify-content: center;
            align-items: center;  
        }
    }
} 
.featuredproducts__product--img1 {
    background-image: url(image/Rectangle50.jpg);
}
.featuredproducts__product--img2 {
    background-image: url(image/Rectangle10.jpg);
}
.featuredproducts__product--img3 {
    background-image: url(image/product9.jpg);
    .featuredproducts__product--NEWSALE {
        display: flex;
        justify-content: flex-end;
    }
}
.featuredproducts__product--img4 {
    background-image: url(image/Rectangle20.jpg);
}
.featuredproducts__product--img5 {
    background-image: url(image/product3.jpg);
    .featuredproducts__product--NEWSALE {
        display: flex;
        justify-content: flex-end;
    }
}
.featuredproducts__product--img6 {
    background-image: url(image/Rectangle210.jpg);
}
.featuredproducts__product--img7 {
    background-image: url(image/Rectangle507.jpg);
}
.featuredproducts__product--img8 {
    background-image: url(image/product8.jpg);
    .featuredproducts__product--NEWSALE {
        display: flex;
        justify-content: flex-end;
    }
}
.featuredproducts__product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.featuredproducts__product--description {
    height: 40px;
    display: flex;
    justify-content: center;

    .description--name {
        background-color: $backgraund-text-product;
        width: 200px;
        display: flex;
        padding-left: 12px;
        align-items: center;
    }
    .description--cost {
        background-color: lighten($backgraund-text-product, 30%);
        width: 55px;
        @include flex-center;
    }
    span {
        font-size: 18px;
        font-family: $second-family;
        color: white;
        font-weight: bold;
    }
}
.featuredproducts__product--mobile {
    display: none;
    a {
        background: none;
        height: 100%;
        width: 100%;
        border: none;
    }
    .featuredproducts__product--select {
        margin: 0 0 15px 0;
        i {
            color: white;
            font-size: 28px;
        }
        span {
            color: white;
            font-size: 15px;
            margin-left: 18px;
        }
    } 
    .featuredproducts__product--select1 {
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 49px;
            width: 49px;
            margin: 0 7px 0 0px;
            border: 1px solid white;
            background-color: $base-color;
        }
    } 
    .featuredproducts__product--select2 {
        border: 1px solid white;
        height: 49px;
        width: 165px; 
        margin-top: 6px;
        a {
            display: flex; 
            justify-content: center;
            align-items: center;
            background-color: $base-color;  
        }
    }
}
.featuredproducts__product--items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .featuredproducts__product--mobile {
        display: block; 
    } 
} 